<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191536566873-cvjjpjqrjf2nn53dngnm8vvtribllf01.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191536566873-cvjjpjqrjf2nn53dngnm8vvtribllf01</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>191536566873-u7u5tuldhti39mhihfep64fr752kid5t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBPnVMuaPa9pgASHHN0TL6SP-DIIqFwCzE</string>
	<key>GCM_SENDER_ID</key>
	<string>191536566873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mas.student</string>
	<key>PROJECT_ID</key>
	<string>myassignmentservices-b2a4d</string>
	<key>STORAGE_BUCKET</key>
	<string>myassignmentservices-b2a4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191536566873:ios:c20d65a26ca380de415748</string>
	<key>DATABASE_URL</key>
	<string>https://myassignmentservices-b2a4d.firebaseio.com</string>
</dict>
</plist>